<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<environments default="postgre">
		<environment id="postgre">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${mybatis.driverClassName}" />
				<property name="url" value="${mybatis.url}" />
				<property name="username" value="${mybatis.username}" />
				<property name="password" value="${mybatis.password}" />
			</dataSource>
		</environment>
	</environments>
	 <mappers>
		<mapper resource="com/egeroo/composer/core/tenant/TenantMapper.xml"/>
	</mappers> 
</configuration>